<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="sv"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="sv"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="sv"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="sv"> <!--<![endif]-->
<head>
  <% include functions/getTitle %>

  <meta name="robots" content="noindex,nofollow"> <!-- Remove before release -->

  <% include functions/getMeta %>

  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com">
  <link rel="dns-prefetch" href="//code.jquery.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
  <link rel="dns-prefetch" href="//cdn.socket.io">

  <link rel="apple-touch-startup-image" href="/assets/images/favicon/startup-image.png">
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/assets/images/favicon/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/assets/images/favicon/manifest.json">
  <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#0aa650">
  <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico">

  <% include functions/getStyles %>
  <% include functions/loadLiveReload %>
  <% include functions/loadAnalytics %>

  <!-- Scripts that are required directly when dom is ready -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/assets/js/fastclick/fastclick.js"></script>
  <script src="/assets/js/app.js"></script>

</head>
<body>

  <% if (typeof startpage !== 'undefined') { %>
  <nav id="top" class="navbar navbar-default navbar-static-top startpage">
  <% } else { %>
  <nav id="top" class="navbar navbar-default navbar-static-top">
  <% } %>
    <div class="container">
      <div class="navbar-header">
        <div class="row">
          <% if (typeof startpage === 'undefined') { %>
            <div class="col-xs-12 col-sm-4 center-xs logo">
              <a href="/"><img alt="" src="/assets/images/vegosvar.svg"></a>
            </div>
						<div class="col-xs-12 col-sm-8 hidden-xs">
							<form class="search" action="/" method="get" role="search">
								<input type="text" name="s" class="form-control" placeholder="Sök fakta, restauranger, produkter..." autofocus="autofocus">
							</form>
						</div>
          <% } else { %>
            <div class="col-xs-12 col-sm-4 center-xs logo startpage">
              <a href="/"><img alt="" src="/assets/images/vegosvar.svg"></a>
            </div>
					<% } %>
				</div>
      </div>

      <ul class="nav navbar-nav navbar-right hidden-xs">

        <li class="dropdown hidden-sm">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-map-marker"></span>
            Välj stad
          </a>
          <ul class="dropdown-menu">
            <% if(typeof(cities) !== 'undefined') { %>
              <% for(i=0;i<cities.length;i++) { %>
                <li><a href="/?s=<%= cities[i].name %>"><%= cities[i].name %></a></li>
              <% } %>
            <% } else { %>
              <li><a href="/?s=Stockholm">Stockholm</a></li>
              <li><a href="/?s=Göteborg">Göteborg</a></li>
              <li><a href="/?s=Malmö">Malmö</a></li>
              <li><a href="/?s=Uppsala">Uppsala</a></li>
              <li><a href="/?s=Västerås">Västerås</a></li>
              <li><a href="/?s=Örebro">Örebro</a></li>
              <li><a href="/?s=Linköping">Linköping</a></li>
              <li><a href="/?s=Helsingborg">Helsingborg</a></li>
              <li><a href="/?s=Jönköping">Jönköping</a></li>
              <li><a href="/?s=Norrköping">Norrköping</a></li>
              <li><a href="/?s=Lund">Lund</a></li>
              <li><a href="/?s=Umeå">Umeå</a></li>
              <li><a href="/?s=Gävle">Gävle</a></li>
              <li><a href="/?s=Eskilstuna">Eskilstuna</a></li>
              <li><a href="/?s=Södertälje">Södertälje</a></li>
              <li><a href="/?s=Karlstad">Karlstad</a></li>
              <li><a href="/?s=Täby">Täby</a></li>
              <li><a href="/?s=Växjö">Växjö</a></li>
              <li><a href="/?s=Halmstad">Halmstad</a></li>
            <% } %>
          </ul>
        </li>

        <li class="dropdown hidden-sm">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-ice-lolly-tasted"></span>
            Produkter
          </a>
          <ul class="dropdown-menu">
            <% if(typeof(categories) !== 'undefined') { %>
              <% for(i=0;i<categories.length;i++) { %>
                <li><a href="/?s=<%= categories[i].name %>"><%= categories[i].name %></a></li>
              <% } %>
            <% } else { %>
            <li><a href="/?s=chips">Chips</a></li>
            <li><a href="/?s=glass">Glass</a></li>
            <li><a href="/?s=godis">Godis</a></li>
            <li><a href="/?s=hudvård">Hudvård</a></li>
            <li><a href="/?s=kosttillskott">Kosttillskott</a></li>
            <li><a href="/?s=makeup">Makeup</a></li>
            <li><a href="/?s=ost">Ost</a></li>
            <li><a href="/?s=shampoo">Shampoo</a></li>
            <li><a href="/?s=tandkräm">Tandkräm</a></li>
            <li><a href="/?s=vegokött">Vegokött</a></li>
            <li><a href="/?s=vin">Vin</a></li>
            <li><a href="/?s=växtdryck">Växtdryck</a></li>
            <li><a href="/?s=växtgrädde">Växtgrädde</a></li>
            <li><a href="/?s=öl">Öl</a></li>
            <% } %>
          </ul>
        </li>

        <li><a href="/ny">Skapa sida</a></li>

        <% if (typeof user !== 'undefined') { %>
          <li class="profile dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="hidden-xs"><%= user.name.display_name %></span>
              <span class="visible-xs">
                Mitt konto
                <span class="glyphicon glyphicon-triangle-bottom"></span>
              </span>
              <img alt="<%= user.name.display_name %>" src="<% include functions/getUserAvatar %>">
            </a>
            <ul class="dropdown-menu">
              <li><a href="/installningar">Inställningar</a></li>
              <li><a href="/mina-sidor">Mina sidor</a></li>
              <% include functions/getAdminButton %>
              <li><a href="/logga-ut">Logga ut</a></li>
            </ul>
          </li>
        <% } %>

        <% if (typeof user === 'undefined') { %>
          <li><a href="/logga-in">Logga in</a></li>
        <% } %>

      </ul>

    </div>
  </nav>

  <nav id="bottom" class="open-in-app">
    <ul>

      <li><a href="/"><span class="glyphicon glyphicon-search"></span>Sök</a></li>

      <li>
        <a class="toggle-dropdown"><span class="glyphicon glyphicon-map-marker"></span>Välj stad</a>
        <ul class="dropdown">
          <li class="title">Välj stad</li>
          <% if(typeof(cities) !== 'undefined') { %>
            <% for(i=0;i<cities.length;i++) { %>
              <li><a href="/?s=<%= cities[i].name %>"><%= cities[i].name %></a></li>
            <% } %>
          <% } else { %>
            <li><a href="/?s=Stockholm">Stockholm</a></li>
            <li><a href="/?s=Göteborg">Göteborg</a></li>
            <li><a href="/?s=Malmö">Malmö</a></li>
            <li><a href="/?s=Uppsala">Uppsala</a></li>
            <li><a href="/?s=Västerås">Västerås</a></li>
            <li><a href="/?s=Örebro">Örebro</a></li>
            <li><a href="/?s=Linköping">Linköping</a></li>
            <li><a href="/?s=Helsingborg">Helsingborg</a></li>
            <li><a href="/?s=Jönköping">Jönköping</a></li>
            <li><a href="/?s=Norrköping">Norrköping</a></li>
            <li><a href="/?s=Lund">Lund</a></li>
            <li><a href="/?s=Umeå">Umeå</a></li>
            <li><a href="/?s=Gävle">Gävle</a></li>
            <li><a href="/?s=Eskilstuna">Eskilstuna</a></li>
            <li><a href="/?s=Södertälje">Södertälje</a></li>
            <li><a href="/?s=Karlstad">Karlstad</a></li>
            <li><a href="/?s=Täby">Täby</a></li>
            <li><a href="/?s=Växjö">Växjö</a></li>
            <li><a href="/?s=Halmstad">Halmstad</a></li>
          <% } %>
          <li class="desc"><div>Du kan även använda sökfunktionen för att söka på specifika städer eller områden</div></li>
        </ul>
      </li>

      <li>
        <a class="toggle-dropdown"><span class="glyphicon glyphicon-ice-lolly-tasted"></span>Produkter</a>
        <ul class="dropdown">
          <li class="title">Produkter</li>
          <% if(typeof(categories) !== 'undefined') { %>
            <% for(i=0;i<categories.length;i++) { %>
              <li><a href="/?s=<%= categories[i].name %>"><%= categories[i].name %></a></li>
            <% } %>
          <% } else { %>
            <li><a href="/?s=Chips">Chips</a></li>
            <li><a href="/?s=Glass">Glass</a></li>
            <li><a href="/?s=Godis">Godis</a></li>
            <li><a href="/?s=Hudvård">Hudvård</a></li>
            <li><a href="/?s=Kosttillskott">Kosttillskott</a></li>
            <li><a href="/?s=Makeup">Makeup</a></li>
            <li><a href="/?s=Ost">Ost</a></li>
            <li><a href="/?s=Shampoo">Shampoo</a></li>
            <li><a href="/?s=Tandkräm">Tandkräm</a></li>
            <li><a href="/?s=Vegokött">Vegokött</a></li>
            <li><a href="/?s=Vin">Vin</a></li>
            <li><a href="/?s=Växtdryck">Växtdryck</a></li>
            <li><a href="/?s=Växtgrädde">Växtgrädde</a></li>
            <li><a href="/?s=Öl">Öl</a></li>
          <% } %>
          <li class="desc"><div>Du kan även använda sökfunktionen för att söka specifika produkter eller märken</div></li>
        </ul>
      </li>

      <% if (typeof user === 'undefined') { %>
        <li>
          <a class="toggle-dropdown"><span class="glyphicon glyphicon-user"></span>Logga in</a>
          <ul class="dropdown">
            <li class="title">
              <div><img alt="" src="/assets/images/no-picture.svg"></div>
              Konto
            </li>
            <li><a href="/auth/facebook">Logga in via Facebook</a>
              <ul>
                <li class="desc"><div>Med hjälp av Facebook kan du logga in tryggt och säkert för att publicera sidor. Du kan välja att vara helt anonym.</div>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      <% } %>

      <% if (typeof user !== 'undefined') { %>
        <li>
          <a class="toggle-dropdown"><span class="glyphicon glyphicon-user"></span>Konto</a>
          <ul class="dropdown">
            <li class="title">
              <div><img alt="" src="<% include functions/getUserAvatar %>"></div>
              <%= user.name.display_name %>
            </li>
            <li><a href="/ny">Skapa sida</a></li>
            <li><a href="/mina-sidor">Mina sidor</a></li>
            <li><a href="/installningar">Inställningar</a></li>
            <% include functions/getAdminButton %>
            <li><a href="/logga-ut">Logga ut</a></li>
          </ul>
        </li>
      <% } %>

    </ul>
  </nav>
