<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="sv"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="sv"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="sv"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="sv"> <!--<![endif]-->
<head>
  <% if(typeof(post) !== 'undefined') { %>
    <title><%= post.title %> – Vegosvar</title>
  <% } else if (typeof(searchString) !== 'undefined') { %>
    <title>
      Resultat för  
      "<%= typeof searchString !== 'undefined' ? searchString:'' %>" 
    </title>
  <% } else { %>
    <title>Vegosvar – Enkla svar på vegofrågor</title>
  <% } %>

  <meta name="robots" content="noindex,nofollow"> <!-- Remove before release -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta property="og:site_name" content="Vegosvar">
  <meta name="keywords" content="vegan,vegetarian,restauranger,produkter">

  <% if(typeof(post) === 'undefined') { %>
    <meta name="description" content="Sveriges modernaste plattform för vegointresserade. Sök fakta, restauranger, butiker, produkter och recept!">
    <meta property="og:title" content="Vegosvar – Enkla svar på vegofrågor">
    <meta property="og:description" content="Sveriges modernaste plattform för vegointresserade. Sök fakta, restauranger, butiker, produkter och recept!">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://vegosvar.se/assets/images/og.png">
    <meta property="og:url" content="https://vegosvar.se">
  <% } else {
    if (typeof post.post.content !== 'undefined' && post.post.content !== null) {
        if(post.post.content.length > 150) { var content = '' + post.post.content.substring(0, 150)
      } else { var content = '' + post.post.content }
    } %>
    <meta name="description" content="<%= content %>">
    <meta property="og:title" content="<%= post.title %> – Vegosvar">
    <meta property="og:description" content="<%= content %>">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://vegosvar.se/uploads/<%= post.post.cover.filename %>.jpg">
    <meta property="og:url" content="https://vegosvar.se/<%= post.url %>">
  <% } %>

  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com">
  <link rel="dns-prefetch" href="//code.jquery.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
  <link rel="dns-prefetch" href="//cdn.socket.io">

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Vegosvar">

  <link rel="apple-touch-startup-image" href="/assets/images/favicon/startup-image.png">
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/assets/images/favicon/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/assets/images/favicon/manifest.json">
  <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#0aa650">
  <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/assets/images/favicon/mstile-144x144.png">
  <meta name="msapplication-config" content="/assets/images/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,600,400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Fenix' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>

  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="/assets/js/app.js"></script>

  <!-- TODO: Add fastclick to compressed JS build instead -->
  <script src="/includes/js/fastclick/fastclick.js"></script>
  <script>
    $(function() {
        FastClick.attach(document.body);
    });
  </script>

  <% if (typeof loadGeoLocation !== 'undefined' && loadGeoLocation === true) { %>
      <script src="/includes/js/geolocation/geolocation.js"></script>
  <% } %>

  <% if (typeof loadMapResources !== 'undefined') { %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&language=sv_SE&callback=mapReady" async defer></script>
  <script>function mapReady() { $(document).ready(function() { $(document).trigger('mapready') }) }</script>
    <% if (typeof loadMapResources.autocomplete !== 'undefined' && loadMapResources.autocomplete === true) { %>
      <script src="/includes/js/googlemaps/input.js"></script>
    <% } %>
    <% if (typeof loadMapResources.map !== 'undefined' && loadMapResources.map === true) { %>
      <script src="/includes/js/googlemaps/map.js"></script>
    <% } %>
    <% if (typeof loadMapResources.mapCluster !== 'undefined' && loadMapResources.mapCluster === true) { %>
      <script src="/includes/js/markerclustererplus/markerclusterer.min.js"></script>
    <% } %>
  <% } %>

  <% if (typeof loadEditorResources !== 'undefined' && loadEditorResources === true) { %>
    <script src="/includes/js/wysihtml/wysihtml.min.js"></script>
    <script src="/includes/js/wysihtml/wysihtml-toolbar.min.js"></script>
    <script src="/includes/js/wysihtml/advanced_and_extended.js"></script>
    <script src="/includes/js/editor/controller.js"></script>
    <script src="/includes/js/editor/editor.js"></script>
  <% } %>

  <% if (typeof loadDropzoneResources !== 'undefined' && loadDropzoneResources === true) { %>
    <link rel="stylesheet" href="/includes/css/dropzone.css">
    <script src="/includes/js/dropzone.js"></script>
  <% } %>

  <!-- TODO Fix this so it doesn't appear in prod! -->
  <% if (settings.env === 'development') { %>
    <script src="//localhost:35729/livereload.js"></script>
  <% } %>
</head>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55653281-5', 'auto');
  ga('send', 'pageview');
</script>

<body>
  <% if (typeof startpage !== 'undefined') { %>
  <nav id="top" class="navbar navbar-default navbar-static-top startpage">
  <% } else { %>
  <nav id="top" class="navbar navbar-default navbar-static-top">
  <% } %>
    <div class="container">
      <div class="navbar-header">
        <div class="row">
          <% if (typeof startpage === 'undefined') { %>
            <div class="col-xs-12 col-sm-4 center-xs logo">
              <a href="/"><img src="/assets/images/vegosvar.svg"></a>
            </div>
						<div class="col-xs-12 col-sm-8 hidden-xs">
							<form class="search" action="/" method="get" role="search" _lpchecked="1">
								<input type="text" name="s" class="form-control" placeholder="Sök fakta, restauranger, produkter..." autofocus="autofocus">
							</form>
						</div>
          <% } else { %>
            <div class="col-xs-12 col-sm-4 center-xs logo startpage">
              <a href="/"><img src="/assets/images/vegosvar.svg"></a>
            </div>
					<% } %>
				</div>
      </div>

      <ul class="nav navbar-nav navbar-right hidden-xs">

        <li class="dropdown hidden-sm">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-map-marker"></span>
            Restauranger
          </a>
          <ul class="dropdown-menu">
            <% if(typeof(cities) !== 'undefined') { %>
              <% for(i=0;i<cities.length;i++) { %>
                <li><a href="/?s=Restauranger+i+<%= cities[i].name %>"><%= cities[i].name %></a></li>
              <% } %>
            <% } else { %>
            <li><a href="/?s=Restauranger+Stockholm">Stockholm</a></li>
            <li><a href="/?s=Restauranger+Göteborg">Göteborg</a></li>
            <li><a href="/?s=Restauranger+Malmö">Malmö</a></li>
            <li><a href="/?s=Restauranger+Uppsala">Uppsala</a></li>
            <li><a href="/?s=Restauranger+Västerås">Västerås</a></li>
            <li><a href="/?s=Restauranger+Örebro">Örebro</a></li>
            <li><a href="/?s=Restauranger+Linköping">Linköping</a></li>
            <li><a href="/?s=Restauranger+Helsingborg">Helsingborg</a></li>
            <li><a href="/?s=Restauranger+Jönköping">Jönköping</a></li>
            <li><a href="/?s=Restauranger+Norrköping">Norrköping</a></li>
            <li><a href="/?s=Restauranger+Lund">Lund</a></li>
            <li><a href="/?s=Restauranger">Hela Sverige</a></li>
            <% } %>
          </ul>
        </li>

        <li class="dropdown hidden-sm">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-tag"></span>
            Butiker
          </a>
          <ul class="dropdown-menu">
            <% if(typeof(cities) !== 'undefined') { %>
              <% for(i=0;i<cities.length;i++) { %>
                <li><a href="/?s=butiker+i+<%= cities[i].name %>"><%= cities[i].name %></a></li>
              <% } %>
            <% } else { %>
            <li><a href="/?s=Butiker+i+Stockholm">Stockholm</a></li>
            <li><a href="/?s=Butiker+i+Göteborg">Göteborg</a></li>
            <li><a href="/?s=Butiker+i+Malmö">Malmö</a></li>
            <li><a href="/?s=Butiker+i+Uppsala">Uppsala</a></li>
            <li><a href="/?s=Butiker+i+Västerås">Västerås</a></li>
            <li><a href="/?s=Butiker+i+Örebro">Örebro</a></li>
            <li><a href="/?s=Butiker+i+Linköping">Linköping</a></li>
            <li><a href="/?s=Butiker+i+Helsingborg">Helsingborg</a></li>
            <li><a href="/?s=Butiker+i+Jönköping">Jönköping</a></li>
            <li><a href="/?s=Butiker+i+Norrköping">Norrköping</a></li>
            <li><a href="/?s=Butiker+i+Lund">Lund</a></li>
            <li><a href="/?s=Butiker">Hela Sverige</a></li>
            <% } %>
          </ul>
        </li>

        <li class="dropdown hidden-sm">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-ice-lolly-tasted"></span>
            Produkter
          </a>
          <ul class="dropdown-menu">
            <% if(typeof(categories) !== 'undefined') { %>
              <% for(i=0;i<categories.length;i++) { %>
                <li><a href="/?s=<%= categories[i].name %>"><%= categories[i].name %></a></li>
              <% } %>
            <% } else { %>
            <li><a href="/?s=chips">Chips</a></li>
            <li><a href="/?s=glass">Glass</a></li>
            <li><a href="/?s=godis">Godis</a></li>
            <li><a href="/?s=hudvård">Hudvård</a></li>
            <li><a href="/?s=kosttillskott">Kosttillskott</a></li>
            <li><a href="/?s=makeup">Makeup</a></li>
            <li><a href="/?s=ost">Ost</a></li>
            <li><a href="/?s=shampoo">Shampoo</a></li>
            <li><a href="/?s=tandkräm">Tandkräm</a></li>
            <li><a href="/?s=vegokött">Vegokött</a></li>
            <li><a href="/?s=vin">Vin</a></li>
            <li><a href="/?s=växtdryck">Växtdryck</a></li>
            <li><a href="/?s=växtgrädde">Växtgrädde</a></li>
            <li><a href="/?s=öl">Öl</a></li>
            <% } %>
          </ul>
        </li>

        <li><a href="/ny">Skapa sida</a></li>

        <% if (typeof user !== 'undefined') { %>
          <li class="profile dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="hidden-xs"><%= user.name.display_name %></span>
              <span class="visible-xs">
                Mitt konto
                <span class="glyphicon glyphicon-triangle-bottom"></span>
              </span>
              <img src="<%= user.photo %>">
            </a>
            <ul class="dropdown-menu">
              <li><a href="/installningar">Inställningar</a></li>
              <li><a href="/mina-sidor">Mina sidor</a></li>
              <li><a href="/admin">Administration</a></li>
              <li><a href="/logga-ut">Logga ut</a></li>
            </ul>
          </li>
        <% } %>

        <% if (typeof user === 'undefined') { %>
          <li><a href="/logga-in">Logga in</a></li>
        <% } %>

      </ul>

    </div>
  </nav>

  <nav id="bottom" class="open-in-app">
    <ul>

      <li><a href="/"><span class="glyphicon glyphicon-search"></span>Sök</a></li>

      <li>
        <a class="toggle-dropdown"><span class="glyphicon glyphicon-map-marker"></span>Restauranger</a>
        <ul class="dropdown">
          <li class="title">Restauranger</li>
          <% if(typeof(cities) !== 'undefined') { %>
            <% for(i=0;i<cities.length;i++) { %>
              <li><a href="/?s=Restauranger+i+<%= cities[i].name %>"><%= cities[i].name %></a></li>
            <% } %>
          <% } else { %>
          <li><a href="/?s=Restauranger+i+Stockholm">Stockholm</a></li>
          <li><a href="/?s=Restauranger+i+Göteborg">Göteborg</a></li>
          <li><a href="/?s=Restauranger+i+Malmö">Malmö</a></li>
          <li><a href="/?s=Restauranger+i+Uppsala">Uppsala</a></li>
          <li><a href="/?s=Restauranger+i+Västerås">Västerås</a></li>
          <li><a href="/?s=Restauranger+i+Örebro">Örebro</a></li>
          <li><a href="/?s=Restauranger+i+Linköping">Linköping</a></li>
          <li><a href="/?s=Restauranger+i+Helsingborg">Helsingborg</a></li>
          <li><a href="/?s=Restauranger+i+Jönköping">Jönköping</a></li>
          <li><a href="/?s=Restauranger+i+Norrköping">Norrköping</a></li>
          <li><a href="/?s=Restauranger+i+Lund">Lund</a></li>
          <% } %>
        </ul>
      </li>

      <li>
        <a class="toggle-dropdown"><span class="glyphicon glyphicon-ice-lolly-tasted"></span>Produkter</a>
        <ul class="dropdown">
          <li class="title">Produkter</li>
          <% if(typeof(categories) !== 'undefined') { %>
            <% for(i=0;i<categories.length;i++) { %>
              <li><a href="/?s=<%= categories[i].name %>"><%= categories[i].name %></a></li>
            <% } %>
          <% } else { %>
          <li><a href="/?s=Chips">Chips</a></li>
          <li><a href="/?s=Glass">Glass</a></li>
          <li><a href="/?s=Godis">Godis</a></li>
          <li><a href="/?s=Hudvård">Hudvård</a></li>
          <li><a href="/?s=Kosttillskott">Kosttillskott</a></li>
          <li><a href="/?s=Makeup">Makeup</a></li>
          <li><a href="/?s=Ost">Ost</a></li>
          <li><a href="/?s=Shampoo">Shampoo</a></li>
          <li><a href="/?s=Tandkräm">Tandkräm</a></li>
          <li><a href="/?s=Vegokött">Vegokött</a></li>
          <li><a href="/?s=Vin">Vin</a></li>
          <li><a href="/?s=Växtdryck">Växtdryck</a></li>
          <li><a href="/?s=Växtgrädde">Växtgrädde</a></li>
          <li><a href="/?s=Öl">Öl</a></li>
          <% } %>
          <li class="desc"><div>Du kan även använda sökfunktionen för att söka specifika produkter</div></li>
        </ul>
      </li>

      <% if (typeof user === 'undefined') { %>
        <li>
          <a class="toggle-dropdown"><span class="glyphicon glyphicon-user"></span>Logga in</a>
          <ul class="dropdown">
            <li class="title">
              <div><img src="/assets/images/no-picture.svg"></div>
              Konto
            </li>
            <li><a href="/auth/facebook">Logga in via Facebook</a>
            <li class="desc"><div>Med hjälp av Facebook kan du logga in tryggt och säkert för att publicera sidor. Du kan välja att vara helt anonym.</div></li>
            </li>
          </ul>
        </li>
      <% } %>

      <% if (typeof user !== 'undefined') { %>
        <li>
          <a class="toggle-dropdown"><span class="glyphicon glyphicon-user"></span>Konto</a>
          <ul class="dropdown">
            <li class="title">
              <div><img src="<%= user.photo %>"></div>
              <%= user.name.display_name %>
            </li>
            <li><a href="/ny">Skapa sida</a></li>
            <li><a href="/mina-sidor">Mina sidor</a></li>
            <li><a href="/installningar">Inställningar</a></li>
            <li><a href="/logga-ut">Logga ut</a></li>
          </ul>
        </li>
      <% } %>

    </ul>
  </nav>