        <div class="col-sm-4 sidebar">
            <div class="well">
              <div class="row">
                <div class="col-xs-4 picture">
                  <a href="/installningar"><img src="<%= user.photo %>"></a>
                </div>
                <div class="col-xs-8 userDescription">
                  <h3 class="list-group-item-heading"><%= user.name.display_name %></h3>
                  <a href="<%= user.info.website %>"><%= user.info.website %></a></p>
				          <p><% if(typeof user.info !== 'undefined') { %>
                    <%= typeof user.info.description !== 'undefined' ? user.info.description: 'Beskrivning saknas' %></p>
                  <% } else { %>
                    Beskrivning saknas
                  <% } %> 
                </div>
              </div>
          </div>
        </div>