          <div id="cred">
            <div class="row">

              <div class="col-sm-6">
                <div class="card transparent">
                  <div class="row">
                    <% if (typeof post.user_info.hidden !== true && post.user_info.hidden == "") { %>
                      <div class="col-xs-3 col-xs-offset-0 col-sm-3 col-sm-offset-0 col-md-4 col-lg-3 avatar">
                        <a href="#"><img alt="" src="<% include ../../partials/functions/getUserinfoAvatar %>" class="avatar circle"></a>
                      </div>

                      <div class="col-xs-9 col-sm-9 col-md-8 col-lg-9 info">
                        <small>Publicerat av</small>
                        <% if (typeof post.user_info.info !== 'undefined' && post.user_info.info.website !== "") { %>
                          <a href="<%= post.user_info.info.website %>" title="<%= post.user_info.info.website %>" target="_blank" rel="nofollow"><h3><%= post.user_info.name.display_name %></h3></a>
                        <% } else { %>
                          <h3><%= post.user_info.name.display_name %></h3>
                        <% } %>
                        <span class="description">
                          <% if (typeof post.user_info.info !== 'undefined') { if (typeof post.user_info.info.description !== 'undefined') { %>
                            <%= post.user_info.info.description %>
                          <% } } %>
                        </span>
                      </div>
                    <% } else { %>
                      <div class="col-xs-3 col-xs-offset-0 col-sm-3 col-sm-offset-0 col-md-4 col-lg-3 avatar">
                        <a href="#"><img alt="" src="/assets/images/no-picture.svg" class="avatar circle"></a>
                      </div>

                      <div class="col-xs-9 col-sm-9 col-md-8 col-lg-9 info">
                        <small>Publicerat av</small>
                        <h3>Anonym</h3>
                        <span class="description">
                          Författaren till artikeln har valt att vara anonym. Kanske är det Batman?
                        </span>
                      </div>
                    <% } %>

                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-xs-offset-0 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 actions">
                <% if (typeof user !== 'undefined') { %>
                  <a href="/redigera/<%= post.url %>" class="btn btn-edit btn-xs">
                    <span class="fa fa-pencil"></span> 
                    Redigera sida
                  </a>
                  <% if (user.info.permission == 'admin' || user.info.permission == 'moderator') { %>
                  <a href="/admin/revisioner/<%= post.url %>" class="btn btn-warning btn-xs">
                    <span class="glyphicon glyphicon-eye-open"></span> 
                    Granska ändringar
                  </a>
                  <% } %>
                <% } else { %>
                <a href="/redigera/<%= post.url %>" class="btn btn-third btn-xs">
                  <span class="fa fa-pencil"></span> 
                  Redigera sida
                </a>

                <% } %>
              </div>

            </div>
          </div>