              <% if (typeof post.post.manufacturer_website !== 'undefined' && post.post.manufacturer_website !== "") { %>
                <p><a href="<%= post.post.manufacturer_website %>" target="_blank" rel="nofollow">
                  <%= post.post.manufacturer_website %>
                </a></p>
              <% } %>

              <% if (post.type === '3' || post.type === '5' || post.type === '6') { %>

                <div class="contact">
                  <% if (typeof post.post.phone !== 'undefined' && post.post.phone !== "") { %>
                    <a href="tel:<%= post.post.phone %>" class="phone">
                      <%= post.post.phone %>
                    </a>
                  <% } %>

                  <% if (typeof post.post.email !== 'undefined' && post.post.email !== "") { %>
                    <div><a href="mailto:<%= post.post.email %>" target="_blank" class="text-muted email">
                      <span class="fa fa-envelope-o"></span> 
                      <%= post.post.email %>
                    </a></div>
                  <% } %>

                  <% if (typeof post.post.website !== 'undefined' && post.post.website !== "") { %>
                    <div><a href="<%= post.post.website %>" target="_blank" rel="nofollow" class="website text-muted">
                      <span class="fa fa-external-link"></span> 
                      Besök hemsida
                    </a></div>
                  <% } %>
                </div>

                <hr class="hidden-xs">
                <div class="row">

                <% include contact/location %>
                <% include contact/openhours %>

                </div>
              <% } %>