        <div class="col-sm-6 col-md-4 sidebar">

          <% if (post.type === '3' || post.type === '5' || post.type === '6') { %>
            <% if(typeof(establishments) !== 'undefined' && establishments.length > 0) { %>
              <div class="card lg">
                <h2><a href="/?s=<%= post.post.city %>"><%= post.post.city %></a></h2>
                <h3 class="subtitle">Restauranger & butiker</h3>
                <ul class="page-menu">
                  <% for (var i = establishments.length - 1; i >= 0; i--) { %>
                    <li>
                      <a href="<%= establishments[i].url %>" class="item">
                        <%= establishments[i].title %>
                        <% if (typeof establishments[i].post.cover !== 'undefined' && establishments[i].post.cover.filename !== null) { %>
                          <img alt="" src="/uploads/<%= establishments[i].post.cover.filename %>_thumb.jpg">
                        <% } %>
                      </a>
                    </li>
                  <% } %>
                </ul>
                <div class="bottom-description">
                  <a href="/?s=<%= post.post.city %>" class="pull-right">
                    Fler vegoställen i <%= post.post.city %>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
              </div>
            <% } %>
          <% } else { %>
            <div id="mapContainer" class="mapContainer sidebar">
              <div id="map" data-map-filter="restaurant" data-map-cluster="true" class="googleMap sidebar"></div>
              <div class="filter">
                <div class="vertical-center">
                  <img alt="" src="/assets/images/map-icon.svg" style="width: 60px;"> 
                  <h2>Veganskt käk nära dig</h2>
                  <h3>Restauranger & butiker</h3>
                  <a href="#" id="show-map" class="btn btn-hero">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    Se karta
                  </a>
                </div>
              </div>
            </div>
          <% } %>

          <div class="card lg text-center">
            <p><img src="/assets/images/fb-color.svg" class="circle" style="width: 50px;"></p>
            <h3>Diskutera på Facebook</h3>
            <p>Gå med i Facebookgruppen för vegetarianer & veganer i Sverige.</p>
            <a href="https://www.facebook.com/groups/840104332722635/?fref=ts" target="_blank" class="btn btn-fb btn-secondary">Gå med i gruppen</a>
          </div>

        </div>