            <div class="row">
              <div class="col-sm-12">
                  <% if (typeof post.post.sources !== 'undefined') { %>
                      <% if (post.post.sources.name !== null) { %>
                          <h3>Källor</h3>
                          <ul id="sources-list" class="list-group">
                              <% for (var i=0;i<post.post.sources.name.length;i++) { %>
                                  <li id="source-<%= (i+1) %>" class="list-group-item">
                                      <span>
                                          <span class="source-id"><%= (i+1) %>.</span>
                                          <a href="<%= post.post.sources.url[i] %>" 
                                            target="_blank" 
                                            title="<%= post.post.sources.url[i] %>" 
                                            class="source-url">
                                            <span class="source-name"><%= post.post.sources.name[i] %></span>
                                          </a>
                                      </span>
                                  </li>
                              <% } %>
                          </ul>
                      <% } %>
                  <% } %>
              </div>
            </div>